#Idea
.idea
*.iml
.DS_Store
logs/

#Maven
target
pom.xml.versionsBackup
dependency-reduced-pom.xml

#NetBeans
nb-configuration.xml
nbactions.xml
output.txt

#arcanist
.arcconfig

#logs
*.log.*

*metrics.log*
*.log
